.icon-container {
  display: flex;
  cursor: pointer;
  position: relative;
  text-align: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.icon-default,
.icon-hover {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.icon-hover {
  opacity: 0; /* Hidden by default */
}

.icon-container:hover .icon-default {
  opacity: 0; /* Hide default icon on hover */
}

.icon-container:hover .icon-hover {
  opacity: 1; /* Show hover icon on hover */
}
