.icon-container {
  /* the container has a defined size or flex properties */
  display: flex;
  cursor: pointer; 
  position: relative;
  gap: 8;
  width: 24px; /* Adjusted size as needed */
  height: 24px; /* Adjusted size as needed */
}

.icon-default,
.icon-hover {
  position: absolute;
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.icon-hover {
  opacity: 0; /* Hidden by default */
}

.icon-container:hover .icon-default {
  opacity: 0; /* Hide default icon on hover */
}

.icon-container:hover .icon-hover {
  opacity: 1; /* Show hover icon on hover */
}
